<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/l3ssinhy">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
     <marquee bgColor="gray" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ratione.</marquee>
     <marquee bgColor="lightbrown" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ratione.</marquee>
     <marquee bgColor="purple" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ratione.</marquee>
     <marquee bgColor="yellow" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ratione.</marquee>
</body>
</html>